<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container py-5">
        <!--<h1 class="display-5 fw-bold">Home Page</h1> -->
        <p class="col-md-8 fs-4" style="text-align:justify">Are you looking to step into the world of software development or enhance your existing skills? You've come to the right place! Our website offers comprehensive software training suitable for all levels. Whether you are a beginner or an advanced developer, our courses are designed to meet your needs and help you progress in your career.</p>
        <!-- <button class="btn btn-secondary btn-lg">Button</button> -->
    </div>
</div>