@model List<Bootcamp>

@* @section Header{
@await Html.PartialAsync("_Header")
} *@

@section Footer{
   <p>This is a section example </p>
}


@foreach (var bootcamp in Model)
{
   @if(bootcamp.isActive){
   @await Html.PartialAsync("_Bootcamp",bootcamp);
   }
}
